<div class="container">
  <!--div class="{{alertStyle}}" role="alert" *ngIf="loginStatus.codigo != ''">{{loginStatus.mensaje}}</div-->
  <div style="margin-left:10%; margin-right:10%; margin-top: 30px">
    <h2>Login - Hulk Store</h2>
    <hr/>
    <form class="form-horizontal" (ngSubmit)="onLogin()" #loginForm="ngForm" novalidate>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="email" placeholder="Email" required [(ngModel)]="model.email" name="email" #email="ngModel">
          <!--div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Email  es requerido!
          </div-->
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="password" placeholder="Password" required [(ngModel)]="model.password" name="password"
            #password="ngModel">
          <!--div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password  es requerido!
          </div-->
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>